header {
  width: 100%;
  background: #f8f9fa;

  .container {
    display: flex;
  }

  #logo {
    // width: 20%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    height: 70px;
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
  ul#menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 30px;
    li {
      list-style: none;
      padding: 3px 10px;
      line-height: 36px;
      cursor: pointer;
      font-size: 14px;
      &.selected {
        color: #f13c45;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          background: #111;
          width: 90%;
          left: 50%;
          margin-left: -25px;
          height: 1px;
          bottom: 20px;
        }
      }
      &:hover {
        color: #f13c45;
      }
    }
  }
  ul#menu-buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-top: 30px;
    li {
      list-style: none;
      padding: 10px 30px !important;
      height: 40px;
      font-size: 13px;
      cursor: pointer;
      &:last-child {
        margin-left: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      display: block;
      text-align: center;
    }
    #logo,
    ul#menu-buttons,
    ul#menu {
      display: block;
      width: 100%;
      justify-content: inherit;
      flex-grow: inherit;
    }
    #logo {
      background-position: center;
    }
    ul#menu {
      li {
        display: inline-block;
        &.selected {
          &:before {
            content: none;
          }
        }
      }
    }
  }
}
